form {
    background-color: darkgray;
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
    height: 30vh;
}
form.regisztracio{
    height: 50vh;

}

input:not(input[type=checkbox]) {
    display: block;
    margin-bottom: 25px;
    width: 100%;
}

form a {
    display: block;
    color: black;
    text-align: center;
}

a + a {
    margin-top: 10px;
}

input[type=submit] {
    padding: 5px;
    font-size: 90%;
}
