.mainContent section {
    padding: 0 30px 25px 30px;
}

.szallodaMainImg {
    margin: 0 auto 25px auto;
    display: block;
}

.szallodaImgGrid {
    padding-top: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
}

.varosGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}