form {
    background-color: var(--colour_randomgreen1);
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
}

.form {
    background-color: var(--colour_randomgreen2);
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
    height: 30vh;
}

form.regisztracio {
    height: 50vh;

}

input::placeholder {
    color: var(--colour_lightwhite);
}

input:not(input[type=checkbox]) {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    color: var(--colour_lightwhite);

}

#rating {
    cursor: pointer;
}

.save-button {
    border-radius: 15px;
    height: 30px;
    min-width: 25%;
    background-color: var(--colour_randomgreen3);
    color: var(--colour_lightwhite);
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.save-button:hover {
    background-color: var(--colour_sidebar);
}

.delete-button {
    border-radius: 15px;
    height: 30px;
    min-width: 25%;
    background-color: var(--colour_delete);
    color: var(--colour_lightwhite);
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.delete-button:hover {
    background-color: var(--colour_error_intense);
}


form a {
    display: block;
    color: var(--colour_lightwhite);
    text-align: center;
}

a:hover {
    color: var(--colour_randomhover);
}

a+a {
    margin-top: 10px;
}

input {
    background-color: var(--colour_randomgreen3);

}

input[type=text],
input[type=password],
input[type=date] {
    border-radius: 50px;
    border: none;
}

input[type=submit] {
    padding: 5px;
    font-size: 90%;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 50px;
}

input[type=submit]:hover {
    background-color: var(--colour_randomgreen4);
    color: var(--colour_randomhover);
}