form {
    background-color: #3D8D7A;
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
    height: 30vh;
}

.form {
    background-color: #248232;
    border-radius: 25px;
    padding: 25px;
    max-width: 250px;
    height: 30vh;
}

form.regisztracio{
    height: 50vh;

}

input::placeholder{
    color:#E5E1EE;
}
input:not(input[type=checkbox]) {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    color: #E5E1EE;

}

.save-button{
    border-radius: 15px;
    height: 30px;
    min-width: 25%;
    background-color: #2BA84A;
    color: #E5E1EE;
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 5px;
}



.delete-button{
    border-radius: 15px;
    height: 30px;
    min-width: 25%;
    background-color: #f52525;
    color: #E5E1EE;
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 5px;
}


form a {
    display: block;
    color: #E5E1EE;
    text-align: center;
}
a:hover{
    color: #d2c6ec;
}

a + a {
    margin-top: 10px;
}
input{
    background-color: #2BA84A;

}
input[type=text],input[type=password],input[type=date]{
    border-radius: 50px;
    border: none;
}
input[type=submit] {
    padding: 5px;
    font-size: 90%;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 50px;
}
input[type=submit]:hover{
    background-color: #04611c;
    color: #d2c6ec;
}


