.mainContent {
    padding: 0;
}

.ratingSection {
    padding: 0 30px 25px 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px
}

@media only screen and (max-width: 1400px) {
    .ratingSection {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 950px) {
    .ratingSection {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.filterBar ul {
    background-color: var(--colour_sidebar);
    font-size: 150%;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .filterBar ul {
        text-align: left;
    }
}

.filterBar:first-child ul {
    list-style-type: none;
}

.filterBar:first-child ul li {
    display: inline;
}

.filterBar:first-child ul li+li {
    margin-left: 15px;
}

.filterBar:first-child ul li select {
    font-size: 75%;
}

select {
    background-color: var(--colour_sidebar);
    color: var(--colour_lightwhite);
}

@media only screen and (max-width: 600px) {
    .filterBar:first-child ul li {
        display: block;
    }

    .filterBar:first-child {
        text-align: left;
    }

    .filterBar:first-child ul li+li {
        margin-left: 0;
    }
}

.rating {
    background-color: var(--colour_sidebar);
    border: 3px solid var(--colour_randomgreen1);
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
}

.ratingUser {
    display: grid;
    grid-template-areas: "profilePicture ratingData";
    grid-template-columns: 1fr 1000fr;
    gap: 5px;
    width: min-content;
    text-wrap: nowrap;
    width: 100%;
}

.ratingUser>div.profilePicture {
    grid-area: profilePicture;
    width: 100px;
}

.ratingUser>div.ratingData {
    grid-area: ratingData;
}

.ratingData {
    width: 100%;
}

.review-button {
    border-radius: 15px;
    height: 30px;
    min-width: 15%;
    background-color: var(--colour_randomgreen3);
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}

.review-button:hover {
    background-color: var(--colour_randomgreen6);
}

.filterSeparater {
    display: none;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .filterSeparater {
        display: block;
    }
}