.formWindow {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--colour_sidebar);
}

.ellatas-opcio {
    display: flex;
    flex-direction: row;
    max-width: 200px;
}

.telefonszam {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

label {
    display: inline;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.mainContent {
    font-size: medium;
}

.mainContent section {
    padding: 15px;

}

form {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form a {
    display: block;
    color: black;
    text-align: center;
}

input[type=text] {
    padding: 2.5px;
    border: none;
    background-color: var(--colour_sidebar);
    color: var(--colour_lightwhite);
    border-bottom: var(--colour_footer) 2px solid;
}

.inputItem {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.inputItem label,
.inputItem input {
    width: 100%;
}

.inputItem hr {
    margin-top: 5px;
    background-color: var(--colour_footer);
}

input[type=date] {
    width: 40%;
}

input[type=submit] {
    padding: 5px;
    font-size: 90%;
    display: block;
    margin-top: 10px;
}

.kod {
    width: 9%;
}

.szam {
    width: 33%;
}

textarea {
    width: 90%;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    .kod {
        width: 15%;
    }

    .szam {
        width: 60%;
    }

    input[type=date] {
        width: 80%;
    }

    input[type=radio] {
        display: inline;
    }

    form {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    form {
        width: 50%
    }
}

.finalPrice {
    --gap: 5px;
    --iconSize: 0px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    margin-left: calc(var(--iconSize) + var(--gap));
}

.finalPrice:has(img) {
    --iconSize: 30px;
}

.finalPrice img {
    width: var(--iconSize);
    height: var(--iconSize);
}

.formHeader {
    width: 100%;
    margin-bottom: 5px;
}

.formHeader h2 {
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
}

.formWindow2 .inputItem:not(:last-of-type) label::after {
    content: "*";
    color: var(--colour_error);
}
