.carousel {
    width: fit-content;
}

.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

section:not(:first-child) {
    background-color: var(--colour_sidebar);
    border-radius: 10px;
    margin: 0 25px 10px 25px;
    min-width: fit-content;
}

@media only screen and (max-width: 660px) {
    section:not(:first-child) {
        margin: 0 10px 10px 10px;
    }
}

section h2{
    margin-bottom: 10px;
}
