.carousel {
    width: fit-content;
}

.mainContent section:not(:first-child) p {
    text-align: justify;
    font-size: 125%;
}

.mainContent section:first-child p {
    text-align: center;
    /* font-size: 125%; */
}

.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

section:not(:first-child) {
    background-color: #15B392;
    border-radius: 10px;
    margin: 0 25px 10px 25px;
    min-width: fit-content;
}

section h2{
    margin-bottom: 10px;
}

hr {
    border: 0;
    background-color: white;
    height: 2px;
    margin-bottom: 5px;
}
