.profile-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}
.pfp{
    height: 10vh;
    padding: 50px;
}
.profile-header h2 {
    margin-bottom: 10px;
    margin-top: 10px
}

.profile-header {
    width: 80%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* box-shadow: 10px 10px 8px 10px #888888; */
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-bottom: 2%;
    background-color: var(--colour_sidebar);
}

.profile-details-con {
    display: flex;
    flex-direction: column;
}


.profile-option-con {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.profile-option-con a {
    text-decoration: none;
}

.profile-picture-con {
    width: 120px;
    padding: 10px;
}

.profile-body {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: var(--colour_sidebar);
}

.profile-body h2 {
    margin-left: 2%;
    margin-top: 1%;
}

.save-button {
    border-radius: 25px;
    width: 40%;
    border: none;
    background-color: var(--colour_randomgreen1);
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.save-button:hover {
    background-color: var(--colour_sidebar);
}

.review-button {
    border-radius: 15px;
    height: 30px;
    min-width: 15%;
    background-color: var(--colour_randomgreen3);
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
}

.review-button:hover {
    background-color: var(--colour_randomgreen6);
}

.user-information form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.user-data {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.user-data input:focus {
    outline: none;
}
.user-data input:focus {
    outline: none;
}

.user-data input {
    border: none;
    border: none;
    width: 100%;
    height: 30px;
    text-align: center;
    color: var(--colour_lightwhite);
    border-bottom: 2px solid var(--colour_randomgreen1);
    background-color: var(--colour_sidebar);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfilePicture-Selection{
    border-radius: 30px;
    border: 5px solid var(--colour_randomgreen1);
    background-color: var(--colour_sidebar);
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.PPS-head h2{
    text-align: center;
    padding: 10px;
}

.PPS-body{
    padding: 10px;
    box-sizing: border-box;
}

.PPS-body img{
    margin: 2px;
}

.PPS-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

a {
    color: var(--colour_lightwhite);
}

a:hover {
    color: var(--colour_randomhover);
}




@media only screen and (max-width: 600px) {
    .profile-header{
        width: 100%;
        border-radius: 0px;
    }

    .profile-body{
        width: 100%;
        border-radius: 0px;
    }
}
