
.profile-con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2{
    margin-bottom: 20px;
}

.profile-header{
    width: 80%;
    border-radius: 30px;
    /* box-shadow: 10px 10px 8px 10px #888888; */
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-bottom: 2%;
    background-color: #248232;
}

.profile-details-con{
    display: flex;
    flex-direction: column;
}

.profile-picture{
    border-radius: 50%;
}

.profile-option-con{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
}

.profile-option-con a{
    text-decoration: none;
}

.profile-picture-con{
    width: 120px;
    padding: 10px;
}

.profile-body{
    border-radius: 30px;
    width: 80%;
    /* box-shadow: 10px 10px 8px 10px #888888; */
    background-color: #248232;
}

.profile-body h2{
    margin-left: 2%;
    margin-top: 1%;
}

.save-button{
    border-radius: 15px;
    height: 30px;
    min-width: 15%;
    background-color: #2BA84A;
    box-shadow: none;
    border: 2px solid black;
    margin: 10px 0 10px 0;

}

.user-information form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.user-data{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
}


.user-data input{
    width: 100%;
    border-radius: 15px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    background-color: #2AA248;
    color: #E5E1EE;
}

.rating-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rating{
    width: 80%;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #2BA84A;


}

.rating-head{
    display: flex;
    flex-direction: row;
}

.rating-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.rating-info-data{
    width: 50%;
    text-align: center;
}

.rating-desc{

    text-align: justify;
    padding: 2%;
}
.starTicked {
    color: gold;
}
a{
    color: #E5E1EE;
}
a:hover{
    color: #d2c6ec;
}


@media only screen and (max-width: 600px) {
.save-button{
    width: 60%;
}
.profile-header{
    margin-top: 10px;
    margin-bottom: 40px;
}
.profile-body{
    margin-bottom: 40px;
}


}
