
/* formok */

.form-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #15B392;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-design .inputItem{
    width: 100%;
    margin-bottom: 15px;
}

.form-design input{
    border: none;
    border-bottom: 2px solid #3D8D7A;
    background-color: #15B392;
    width: 100%;
    transition: all 99999999999999s linear;
}

.form-design label{
    margin-bottom: 10px;
    display: block;
}

.form-design input:focus{
    outline: none;
}

.form-design button{
    border-radius: 25px;
    width: 40%;
    border: none;
    background-color: #3D8D7A;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error{
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(216, 137, 137);
    color: rgb(201, 0, 0);
    width: 95%;
    padding: 5px;
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media only screen and (max-width:600px){
    .form-design{
        min-width: 100%;
        border-radius: 0;
    }
}


