* {
    padding: 0;
    margin: 0;
}

:root {
    --colour_background: #A3D1C6;
    --colour_sidebar: #15B392;
    --colour_footer: #3D8D7A;
    --colour_lightwhite: #E5E1EE;

    --colour_error: #fd7676;
    --colour_error_intense: #c90000;
    --colour_delete: #f52525;

    --colour_randomgreen1: #3D8D7A;
    --colour_randomgreen2: #248232;
    --colour_randomgreen3: #2BA84A;
    --colour_randomgreen4: #04611c;
    --colour_randomgreen5: #2AA248;
    --colour_randomgreen6: #33be56;

    --colour_randomhover: #d2c6ec;
}

body {
    height: 100dvh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--colour_background);
    color: var(--colour_lightwhite);
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* min-height: 92vh; */
}

.white {
    color: var(--colour_lightwhite);
}

section {
    padding: 10px;
}

.mainContent {
    position: relative;
    width: 100%;
    margin: 0;
}

.mainContent h1 {
    text-align: center;
    padding-bottom: 10px;
}

.mainContent section p {
    text-align: justify;
    font-size: 125%;
}

.sidebar {
    display: block;
    background-color: var(--colour_sidebar);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
    max-height: 750px;
    min-width: fit-content;
    /* width: 400px; */
}

.sidebarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebarHeader h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleButtonCon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.toggleButtonCon p {
    font-size: xx-large;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggleButtonCheckbox {
    display: none;
    position: absolute;
}

.sidebarLinks {
    padding-bottom: 150px;
}

.sidebarLinks,
.sidebarContacts {
    margin: 25px 25px 25px 15px;
    gap: 10px;
    list-style-type: none;
}

.sidebarLinks li a {
    text-decoration: none;
    color: var(--colour_lightwhite);
    font-size: 150%;
    display: block;
    width: 100%;
}

a {
    color: var(--colour_lightwhite);
}

.sidebarLinks li a:hover {
    background-color: var(--colour_randomgreen1);
    border-radius: 5px;
    outline: 7px solid var(--colour_randomgreen1);
}

.sidebarLinks li+li {
    margin-top: 20px;
}

.sidebarContacts li:first-child {
    font-size: 160%;
}

.sidebar hr {
    margin: 0 5px 0 5px;
}

.sidebarContacts li {
    color: var(--colour_lightwhite);
}

.sidebarContacts li a {
    color: var(--colour_lightwhite);
}

.sidebarContacts li+li {
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    main {
        flex-direction: column-reverse;
        justify-content: unset;
    }

    .sidebarLinks {
        padding-bottom: 0;
    }

    .toggleButtonCon {
        display: flex;
    }

    .toggleButtonCon:hover {
        background-color: var(--colour_lightwhite);
    }

    .toggleButtonCon:hover p {
        color: var(--colour_sidebar);
    }


    .sidebarCollapsableContent {
        display: none;
    }

    body:has(input[id="toggleButtonCheckbox"]:checked) .sidebarCollapsableContent {
        display: block !important;
    }

    nav {
        border-top: 2px solid var(--colour_lightwhite);
    }
}

footer {
    background-color: var(--colour_footer);
    position: sticky;
    top: 100%;
}

footer p {
    font-size: 150%;
    padding: 25px 0 25px 0;
    margin: 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center !important;
}

.error {
    color: var(--colour_error);
    font-size: 100% !important;
    text-align: unset !important;
}

/* https://colorhunt.co/palette/d2ff7273ec8b54c39215b392 */
/* https://colorhunt.co/palette/3d8d7ab3d8a8fbffe4a3d1c6 */


hr {
    border: 0;
    background-color: white;
    height: 2px;
    margin-bottom: 5px;
}

.starTicked {
    color: gold;
}

.starUnTicked {
    color: var(--colour_lightwhite)
}

/* https://codepen.io/caderek/pen/OJebepo */
.halfStarTicked {
    --color-full: gold;
    --color-empty: var(--colour_lightwhite);
    --ratio: 50%;

    color: var(--color-empty);
    background: linear-gradient(to right,
            var(--color-full),
            var(--color-full) var(--ratio),
            var(--color-empty) var(--ratio),
            var(--color-empty));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-popup {
    background-color: var(--colour_footer);
    border-radius: 25px;
    margin: 15px auto 0 auto;
    width: fit-content;
    position: absolute;
    top: 50px;
    transform: translate(calc(-50% - 205px / 2), 0);
    left: 50%;
    z-index: 10;
}

@media only screen and (max-width: 1200px) {
    .info-popup {
        top: 100px;
        transform: translate(-50%, 0);
    }
}

.info-popup div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.info-popup div p {
    color: white;
    text-align: center;
    font-size: 110%;
    width: 100%;
}

.info-popup div button {
    background-color: var(--colour_delete);
    text-align: center;
    color: white;
    border: 0;
    border-radius: 50%;
    padding: 5px;
    width: 1.5rem;
    height: 1.5rem;
}

.info-popup div button:hover {
    background-color: var(--colour_error_intense);
    outline: 2px solid white;
}

.w-100 {
    width: 100%
}

nav {
    background-color: var(--colour_sidebar);
    padding: 10px;
    text-align: center;
}

.loyalty {
    width: 30px;
    height: 30px;
}
