* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A3D1C6;
    color: #E5E1EE;
}
.profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 92vh;
}

section{
    padding: 10px;
}

.mainContent {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    margin: 0;
}

.mainContent h1 {
    text-align: center;
    padding-bottom: 10px;
}

.mainContent section p {
    text-align: justify;
    font-size: 125%;
}

.sidebar {
    display: block;
    background-color: #15B392;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
    max-height: 750px;
    min-width: fit-content;
    /* width: 400px; */
}

.sidebarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebarHeader h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleButtonCon{
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.toggleButtonCon p{
    font-size: xx-large;
    font-weight: bold;
}

.toggleButtonCheckbox{
    display: none;
    position: absolute;
}

.sidebarLinks {
    padding-bottom: 150px;
}

.sidebarLinks,
.sidebarContacts {
    margin: 25px 25px 25px 15px;
    gap: 10px;
    list-style-type: none;
}

.sidebarLinks li a {
    text-decoration: none;
    color: #E5E1EE;
    font-size: 150%;
}


.sidebarLinks li a:hover {
    background-color: rgb(13, 133, 77);
    border-radius: 10px;
    padding: 5px;
}

.sidebarLinks li+li {
    margin-top: 20px;
}

.sidebarContacts li:first-child {
    font-size: 150%;
}

.sidebar hr {
    background-color: #E5E1EE;
    border: 0;
    height: 2px;
    margin: 0 5px 0 5px;
}

.sidebarContacts li {
    color: #E5E1EE;
}

.sidebarContacts li a {
    color: #E5E1EE;
}

.sidebarContacts li+li {
    margin-top: 20px;
}

.starTicked {
    color: gold;
}

.starUnTicked {
    color: #E5E1EE
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column-reverse;
        justify-content:unset;
    }

    .sidebarLinks {
        padding-bottom: 0;
    }

    .toggleButtonCon{
        display: flex;
    }

    .sidebarCollapsableContent{
        display: none;
    }

    body:has(input[id="toggleButtonCheckbox"]:checked) .sidebarCollapsableContent{
        display: block !important;
    }

}

footer {
    background-color: rgb(13, 133, 77);
}

footer p {
    font-size: 150%;
    padding: 25px 0 25px 0;
    margin: 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.error {
    color: rgb(253, 118, 118);
    font-size: 100% !important;
    text-align: unset !important;
}

/* https://colorhunt.co/palette/d2ff7273ec8b54c39215b392 */
/* https://colorhunt.co/palette/3d8d7ab3d8a8fbffe4a3d1c6 */
