.szallodaMainImg {
    margin: 0 auto 0 auto;
    display: block;
}

.szallodaAdatSection div {
    margin-bottom: 10px;
}

.szallodaImgGrid {
    display: grid;
    gap: 15px;
}

@media only screen and (min-width: 600px) {
    .szallodaImgGrid {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 768px) {
    .szallodaImgGrid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1200px) {
    .szallodaImgGrid {
        grid-template-columns: auto auto auto;
    }
}

.cityGrid {
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    .cityGrid {
        flex-direction: column;
        justify-content: unset;
    }
}

.book-button {
    border-radius: 25px;
    width: 40%;
    border: none;
    background-color: var(--colour_footer);
    min-height: fit-content;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    color: white;
    padding: 5px 10px 5px 10px;
}

.book-button:hover {
    background-color: var(--colour_sidebar);
}

table {
    text-align: justify;
}

th+td {
    padding-left: 10px
}

.roomsTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.roomsTable,
.roomsTable td,
.roomsTable th {
    border: 1px solid white;
    padding: 2px;
}

.roomsTable th {
    background-color: white;
    color: var(--colour_sidebar);
}

.mainContent section:nth-child(3) p {
    text-align: unset;
}

.sectionHeader h2 {
    margin: 0 10px 0 10px;
    padding: 5px 0 5px 5px;
    max-width: 100%;
    background-color: lightgray;
    color: var(--colour_sidebar);
}

.sectionHeader hr {
    margin: 0 10px 0 10px;
    background-color: var(--colour_footer);
    height: 3px
}

.sectionHeader hr:first-child {
    margin-top: 10px;
}

.sectionHeader hr:last-child {
    margin-bottom: 10px;
}
