.szallodaMainImg {
    margin: 0 auto 0 auto;
    display: block;
    width: 640px;
    aspect-ratio: 1 / 1;
}

.citySection {
    padding: 0 30px 25px 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cityDescription {
    background-color: var(--colour_sidebar);
    padding: 10px;
    margin: 15px 20px 0 20px;
    text-align: justify;
    overflow: hidden;
    border-radius: 15px;
}

.city {
    /* background-color: var(--colour_sidebar); */
    /* padding: 10px; */
    text-align: justify;
    overflow: hidden;
    /* border-radius: 15px; */
}

.city img {
    max-width: 200px;
}

.cityImgContainer {
    float: left;
    padding-right: 10px;
}

.cityImgContainer a,
.cityImgContainer p {
    text-align: center !important;
}

/* .city:nth-child(even) .cityImgContainer {
    float: right;
    padding-left: 10px;
} */


th + td {
    padding-left: 10px
}

@media only screen and (max-width: 600px) {
    .cityImgContainer {
        float: none;
        padding-right: 0;
    }

    .city:nth-child(even) .cityImgContainer {
        float: none;
        padding-left: 0;
    }
}


@media only screen and (max-width: 660px) {
    .cityDescription {
        padding: 10px;
        margin: 0;
    }

    .citySection {
        padding: 0 10px 25px 10px;
    }

    .city img {
        max-width: 100%;
    }
}

section:not(:first-child) {
    background-color: var(--colour_sidebar);
    border-radius: 10px;
    margin: 0 25px 10px 25px;
    min-width: fit-content;
}

@media only screen and (max-width: 660px) {
    section:not(:first-child) {
        margin: 0 10px 10px 10px;
    }
}
