.szallodaMainImg {
    margin: 0 auto 10px auto;
    display: block;
}

.citySection {
    padding: 0 30px 25px 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cityDescription {
    background-color: var(--colour_sidebar);
    padding: 10px;
    margin: 15px 20px 0 20px;
    text-align: justify;
    overflow: hidden;
    border-radius: 15px;
}

.city {
    background-color: var(--colour_sidebar);
    padding: 10px;
    text-align: justify;
    overflow: hidden;
    border-radius: 15px;
}

.city img {
    max-width: 200px;
}

.cityImgContainer {
    float: left;
    padding-right: 10px;
    text-align: center;
}

/* .city:nth-child(even) .cityImgContainer {
    float: right;
    padding-left: 10px;
} */

a {
    text-decoration: none;
    color: var(--colour_lightwhite);
}

th + td {
    padding-left: 10px
}

@media only screen and (max-width: 600px) {
    .cityImgContainer {
        float: none;
        padding-right: 0;
    }

    .city:nth-child(even) .cityImgContainer {
        float: none;
        padding-left: 0;
    }
}


@media only screen and (max-width: 660px) {
    .cityDescription {
        padding: 10px;
        margin: 0;
    }

    .citySection {
        padding: 0 10px 25px 10px;
    }
}